<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwIMFFns6nNL6vaDPYr7mVDd53pO3q3aI</string>
	<key>GCM_SENDER_ID</key>
	<string>753226886718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Metiflolux</string>
	<key>PROJECT_ID</key>
	<string>metiflolux</string>
	<key>STORAGE_BUCKET</key>
	<string>metiflolux.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753226886718:ios:fc430e0c89c1d45bc0ab6f</string>
</dict>
</plist>